{:kotoba.app/id "cloud.itonami.isic-1520", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiey6oqpsv5yi4dgmnmw4uscej62rkpfi34px5pay752s25tk6273e", :kotoba.app/embed-url "ipfs://bafkreiey6oqpsv5yi4dgmnmw4uscej62rkpfi34px5pay752s25tk6273e", :published {:archive "https://kotobase.net/ipfs/bafkreiey6oqpsv5yi4dgmnmw4uscej62rkpfi34px5pay752s25tk6273e", :size 72677, :put-status 201, :get-status 200, :at "2026-08-15T14:03:47.403Z"}}
